[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

ipython = ">=0.13"


[dev-packages]

mockito = "*"
"bump2version" = "*"


[requires]

python_version = "3.6"
