[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

ipython = ">=0.13"


[dev-packages]

mockito = "*"
"bump2version" = "*"
twine = "*"


[requires]

python_version = "3.6"


[scripts]

build = "python setup.py sdist bdist_wheel --universal"
up-test = "twine upload --repository-url https://test.pypi.org/legacy/ dist/*"
up = "twine upload dist/*"
